.songs-list {
  border: 1px solid black;
  padding: 16px;
  width: 250px;
}
.songs-list__item {
  border-bottom: 1px solid black;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
}

.songs-list__item:first-child {
  padding-top: 0;
}

.songs-list__item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.songs-list__item-name {
  padding-top: 5px;
}

.songs-list__item-button {
  padding: 4px 6px;
  outline: none;
  cursor: pointer;
}

.songs-list__item-button--selected {
  background-color: cornflowerblue;
}
